S3method(print, trtsel)
S3method(plot, trtsel)
S3method(print, calibrate.trtsel)
S3method(print, compare.trtsel)
S3method(print, eval.trtsel)
S3method(evaluate, trtsel)
S3method(calibrate, trtsel)
S3method(compare, trtsel)
S3method(print, trtsel_summary_measures)
export(plot.trtsel, calibrate.trtsel, compare.trtsel, evaluate.trtsel, is.trtsel, trtsel, evaluate, compare, calibrate, estimate_measures)
import( ggplot2)
importFrom(grid, gpar)
importFrom(grid, xaxisGrob)
importFrom(grid, textGrob)
importFrom(grid, grid.draw)
importFrom(graphics, legend, lines, par, plot, plot.new, points,polygon)
importFrom(stats, aggregate, binomial, complete.cases, ecdf, fitted, glm, median, pchisq, quantile, rbinom)
importFrom(utils, head)